body{
  background: red;
  font-size: 1.5rem;
  font-family: Tahoma;
}


@media screen and  (min-width: 790px){
  body{
    background: olive;
    color: white;
  }

  p:after{
    background: url(img/ico1024.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    width: 6.25rem;
    height: 6.25rem;
  }

  nav ul li{
    display: block;
    background: pink;
    width: 8rem;
    margin: 0.1rem;
    padding: 0.5rem;
    position: relative;

  }

  nav ul li ul{
    display: none;
  }

  nav ul li:hover>ul{
    position: absolute;
    display: block;
    float: none;
    position: relative;
    top: 0;
    left: 11.2rem;
  }

  nav ul:hover li ul li{
    float: none;
    background-color: purple;
  }

  h1{
    clear: both;
  }
}

@media screen and (max-width: 789px){
  body{
    background: yellow;
  }

  p:after{
    background: url(img/ico0032.png);
    content: "";
    display: block;
    width: 6.25rem;
    height: 6.25rem;
    background-repeat: no-repeat;
    background-size: cover;
  }

  nav ul li{
    display: block;
    background: pink;
    width: 8rem;
    margin: 0.1rem;
    padding: 0.5rem;
    float: left;
  }

  nav ul li ul{
    display: none;
  }

  nav ul li:hover>ul{
    display: block;
    float: none;
    position: relative;
    left: -0.5rem;
  }

  nav ul:hover li ul li{
    float: none;
    background-color: purple;
  }
}
