div{
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

h2{
  clear: both; /*Para romper el efecto del float.*/
}

.primer{
  float: left;
  width: 10em;
  margin: 1em;
  background-color: purple;
  font-size: 3em;
}

.segon{
  float: left;
  font-size: 3em;
  background-color: red;
  height: 5em;
  width: 30%;
  margin: 1.6%;
}

.contenidor{
  background-color: orange;
  width: 100%;
  overflow: hidden;
  width: 63em;
  margin: 0 auto; /*Para centrar*/
}

.tercer{
  background-color: blue;
  float: left;
  font-size: 3em;
  width: 5em;
  margin: 1em;
}
