body{
  background: red;
  font-size: 1.5rem;
}

@media screen and  (min-width: 392px){
  body{
    background: olive;
    color: white;
  }
}

@media screen and (max-width: 788px){
  body{
    background: yellow;
  }
}
