body{
  background-color: #222;
  font-family: helvetica, sans-serif;
  margin-top: 65px;
}

/*-----------------------------*/

ul{
  background-color: black;
  width: 100%;
  height: 50px;
  position: fixed;
  top: -16px;
  left: 0px;
  z-index: 9999;
}

#logo{
  width: auto;
  height: auto;
}

li{
  color: #CCC;;
  display: inline;
  margin-left: 5px;
  line-height: 70px;
  filter: opacity(100%);
}

li:active{
  color: #CCC;
}

li:hover{
  color: #FFF;
  text-decoration: underline 2px;
}

#empujado{
  margin-right: 100px;
}

.xarxes{
  float: right;
  color: #FFF;
  margin: 0 5px 0 5px;
}

a{
  color: #FFF;
}

a:link{
  color: #CCC;
  text-decoration: none;

}

/*-----------------------------*/

.peli{
  width: 175px;
  height: 260px;
  border-radius: 5px;
  margin: 10px 10px 50px 10px;
  float: left;
}

#netejar{
  clear: both;
}

h1{
 color: #FFF;
 font-family: helvetica, sans-serif;
 font-size: 22px;
 margin: 10px;
 clear: both;
}

h2{
  color: #CCC;
  font-size: 14px;
  margin-top: -2px;
}

h3{
  float: left;
  display: inline-block;
  color: #CCC;
  font-size: 11px;
  margin-top: -2px;
}

h4{
  float: right;
  display: inline-block;
  color: #CCC;
  text-align: right;
  font-size: 11px;
  margin-top: -2px;
}

img{
  width: 176px;
  height: 260px;
  border-radius: 5px;
}

.blancnegre{
  filter: grayscale(100%);
}

img:hover{
  filter: opacity(50%);
}

.logo{
  width: 40px;
  height: 40px;
  margin: 5px 20px 5px 5px;
}

#gris, .grisa{
  filter: grayscale(100%);
}

#clar{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
